* {
  padding: 0;
  margin: 0;
  font-family: "sans-seriffe", Courier, monospace;
  font-weight: 500;
  background: #1a202c;
  color: #ffffff;
  outline: none;
  border: none;
  letter-spacing: 1px;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90vh;
}

button {
  padding: 0.5rem 1.5rem;
  background: #81e6d9;
  color: #1a202c;
  font-weight: bold;
  margin-bottom: 1rem;
  cursor: pointer;
  letter-spacing: 2px;
}

h3 {
  margin-top: 2rem;
  margin-bottom: 0.5rem;
}

input {
  border: 1px solid beige;
  padding: 0.5rem;
  margin-bottom: 0.2rem;
}
